<div class="container">
  <h2>Create Order</h2>

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Order</mat-label>
        <input formControlName="order" matInput [errorStateMatcher]="matcher" />
        <mat-error *ngIf="orderForm.get('order')?.hasError('required')"
          >Order is <strong>required</strong>.</mat-error
        >
      </mat-form-field>
    </div>
    <button class="mb-3" mat-raised-button color="primary" type="submit">
      {{ btnState === "update" ? "Update" : "Create" }}
    </button>
  </form>
</div>
