<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Username</mat-label>
        <input
          formControlName="username"
          matInput
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')"
          >Username is <strong>required</strong>.</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          [errorStateMatcher]="matcher"
        />
        <mat-error>Password is <strong>required</strong>.</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
